.stimulus-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.stimulus-image {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: -1;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;

  @media (max-width: 365px) {
    width: 250px;
    height: 250px;
  }
}

.stimulus-word {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}



.stimulus-words {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.word {
  font-size: 42px;
  font-weight: 900;
}

.subword {
  font-size: 16px;
  font-weight: 400;
}

.animated {
  animation: animate 1.5s linear infinite; 
}

@keyframes animate { 
  0%{ 
    opacity: 0.1; 
  } 
  50%{ 
    opacity: 0.75; 
  } 
  100%{ 
    opacity: 0.1; 
  }
} 