@import "../../styles/colors.constants";

.card-container {
  background-color: $deep-violet;
  width: 100%;
  color: white;
  border-radius: 12px;
}

.card-content {
  padding: 16px;
}

.card-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  padding-bottom: 6px;
  border-bottom: 1px solid $main-white;
}

.card-title {
  font-size: 32px;
  line-height: 0.5;
}

.card-description {
  text-align: justify;
  text-justify: inter-word;
}
