.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  width: calc(100dvw - 32px);
  height: calc(100dvh - 32px);
  outline: none;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #8436b3;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: rgba(21, 21, 21, 0.85);
  transition: background 200ms;
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0px;
  font-size: 24px;
  font-weight: 900;
}

.modal-button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: 24px;
  font-weight: 900;
}

.modal-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex: 1;
}

.modal-selector-button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
