@import "../../styles/colors.constants";

.hero {
  background-size: cover;
  background-position: center;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  @media (max-width: 560px) {
    height: 300px;
  }
}

.hero-title {
  font-size: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 560px) {
    font-size: 46px;
  }
}
