@import "../../styles/colors.constants";

.hero-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero {
  background-size: cover;
  background-position: center;
  height: 400px;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 560px) {
    height: 300px;
  }
}

.hero-title {
  font-size: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;

  @media (max-width: 560px) {
    font-size: 46px;
  }
}

.hero-cta {
  all: unset;
  cursor: pointer;
  background-color: $deeper-blue;
  border: 1px solid $main-black;
  color: $main-black;
  border-radius: 6px;
  font-size: 22px;
  font-weight: 600;
  padding: 8px 0px;
  text-align: center;
  width: 100%;

  &:hover {
    background-color: $deep-blue;
  }
}
