.player-button {
  all: unset;
  cursor: pointer;
  border: 1.5px solid white;
  color: white;
  border-radius: 12px;
  background-color: #8436b3;
  display: flex;
  padding: 12px 64px;
  font-size: 30px;

  &:active {
    background-color: #c259ff;
  }
}

.button-content {
  display: flex;
  align-items: center;
}
