@import "../../styles/colors.constants";

.player-button {
  all: unset;
  cursor: pointer;
  border: 2px solid $main-white;
  color: $main-white;
  border-radius: 12px;
  background-color: $deep-violet;
  display: flex;
  padding: 12px 24px;
  font-size: 30px;

  &:hover {
    background-color: $deeper-violet;
    color: $main-white;
  }
}

.button-content {
  display: flex;
  align-items: center;
  gap: 8px;
}
