@import "../../styles/colors.constants";

.player-button {
  all: unset;
  cursor: pointer;
  border: 1.5px solid $main-black;
  color: $main-black;
  border-radius: 12px;
  background-color: $third-color;
  display: flex;
  padding: 12px 64px;
  font-size: 30px;

  &:active {
    background-color: $sub-third-color;
  }
}

.button-content {
  display: flex;
  align-items: center;
}
