$main-gray: #1e2124;
$main-blue: #0e67c5;
$main-white: #f0f0f0;
$main-black: #0a0a0a;
$main-yellow: #fee766;
$deep-violet: #766afe;
$warm-orange: #fecd66;

$light-gray: #5b636b;
$light-blue: #1590e5;
