$main-yellow: #fee766;
$secondary-yellow: #ccba52;

$main-gray: #1e2124;
$medium-gray: #5b636b;
$light-gray: #5b636b;

$deep-violet: #8436b3;
$deeper-violet: #c259ff;

$deep-blue: #5981b3;
$deeper-blue: #73b1ff;

$main-white: #f0f0f0;
$main-black: #0a0a0a;
$main-color: #8436b3;
$sub-main-color: #c259ff;
$secondary-color: #ffe766;
$sub-secondary-color: #b3a13e;
$third-color: #73b1ff;
$sub-third-color: #5981b3;
