$main-yellow: #fee766;
$secondary-yellow: #ccba52;

$main-gray: #1e2124;
$main-white: #f0f0f0;
$main-black: #0a0a0a;

$medium-gray: #5b636b;

$light-gray: #5b636b;
$light-blue: #80fbff;

$deep-violet: #8436b3;
$deeper-violet: #c259ff;

$deep-blue: #5981b3;
$deeper-blue: #73b1ff;
