@import "colors.constants";

.free-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mode-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50dvh;
}

.mode-active {
  border-bottom: 2px solid $main-color;
}

.time-counter {
  font-size: 24px;
  margin: 0;
  padding-bottom: 12px;
}
