@import "colors.constants";

.free-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mode-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50dvh;
}

.mode-active {
  border-bottom: 2px solid $deep-violet;
}

.time-counter {
  font-size: 24px;
  margin: 0;
  padding-bottom: 12px;
}

.image-container {
  position: relative;
  background-color: $deep-violet;
  width: 300px;
  height: 300px;
  border-radius: 12px;
  border: 2px solid $deep-violet;
  overflow: hidden;
  z-index: -1;

  @media (max-width: 365px) {
    width: 250px;
    height: 250px;
  }
}
