@import "colors.constants";

body {
  margin: 0px;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $main-yellow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-content {
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 48px;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
