:root {
  --purple: #8436b3;
  --yellow: #fcd926;
  --dark-purple: #5f2c8a;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--yellow);
  color: black;
  font-family: 'Outfit', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.ReactModal__Content {
  transform: translateY(100%);
  transition: transform 300ms ease-in-out;
}

.ReactModal__Content--after-open {
  transform: translateY(0);
}

.ReactModal__Content--before-close {
  transform: translateY(100%);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.75) !important;
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
