.setting-option-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid var(--secondary-color);
  gap: 16px;

  &:hover {
    background-color: var(--hover-primary-color);
  }
}

.setting-option {
  display: flex;
  gap: 16px;
}

.setting-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.setting-option-title {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

.setting-option-description {
  font-size: 16px;
}

.check-icon {
}
