.about-container {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  text-align: center;
}

.about-content {
  margin-bottom: 16px;
  max-width: 700px;
}

.contact-button {
  all: unset;
  background-color: #1e2124;
  color: white;
  font-size: 20px;
  padding: 16px 24px;
  border-radius: 5px;
}

.contact-button:hover {
  background-color: darkgray;
  cursor: pointer;
}

p {
  font-size: 18px;
}
