@import "../../styles/colors.constants";

.about-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 64px;
  text-align: center;

  @media (max-width: 560px) {
    padding: 24px;
  }
}

.about-content {
  margin-bottom: 16px;
  max-width: 700px;
  border-top: 1px solid #1e2124;
  border-bottom: 1px solid #1e2124;

  p {
    font-size: 18px;
  }
}

.contact-button {
  all: unset;
  background-color: #1e2124;
  color: white;
  font-size: 20px;
  padding: 16px 24px;
  border-radius: 5px;
}

.contact-button:hover {
  background-color: darkgray;
  cursor: pointer;
}

.services {
  display: flex;
  flex-direction: row;
  gap: 16px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.image-container {
  position: relative;
  background-color: $deep-violet;
  width: 100%;
  padding-top: 30%;
  margin-bottom: 32px;
  border-radius: 12px;

  @media (max-width: 560px) {
    padding-top: 100%;
  }
  overflow: hidden;
}
