@import "../../styles/colors.constants";

.navbar {
  color: $deep-violet;
  background-color: $main-yellow;
  padding: 12px 64px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 560px) {
    padding: 12px 12px;
  }
}

.company {
  font-size: 34px;
  font-weight: 400;
  line-height: 1;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.sign {
  color: $light-blue;
}

.menu {
  display: flex;
  gap: 12px;
  font-size: 18px;
  font-weight: 700;

  @media (max-width: 560px) {
    display: none;
  }
}

.menu-icon {
  display: none;
  cursor: pointer;

  @media (max-width: 560px) {
    display: flex;
  }
}

.link {
  text-decoration: none !important;

  &:hover {
    color: $main-black;
  }
}

.dropdown-menu {
  height: calc(100dvh - 60px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  border-top: 1px solid $main-yellow;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
  display: none;
  flex-direction: column;

  a {
    color: $main-white;
    &:hover {
      background-color: $deeper-violet;
    }
  }

  @media (max-width: 560px) {
    display: flex;
  }
}

.dropdown-menu-link {
  padding: 24px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: $deep-violet;

  border-bottom: 1px solid $main-gray;
}
