.playbar-container {
  width: 100%;
  background-color: #8436b3;
  color: white;
}

.playbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 6px 12px;
}
