header,
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
}

header {
  span {
    font-size: 32px;
    font-weight: 900;
  }
}

footer {
  span {
    font-size: 14px;
    margin: 16px 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow-y: auto;
}

.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-link {
  cursor: pointer;
  font-weight: 700;
}
