header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  span {
    font-size: 36px;
    font-weight: 900;
    padding: 6px 0px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow-y: auto;
}

.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
