@import "../../styles/colors.constants";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60px;
}

.footer-link {
  font-weight: 700;
  text-decoration-line: none;
}

.footer-content {
  font-size: 14px;
}
