.beat-modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0px;
  font-size: 32px;
  font-weight: 900;
}

.beat-list {
  display: flex;
  flex-direction: column;
}

.beat {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1;
  text-align: center;
}

.beat-title {
  font-size: 32px;
  font-weight: 900;
}

.beat-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex: 1;
}

.beat-selector-button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.beat-modal-button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: 24px;
  font-weight: 900;
}
