.modal-container {
  max-width: 620px;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    height: 80dvh;
    margin-top: 20dvh;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: rgba(21, 21, 21, 0.85);
  transition: background 200ms;
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (min-width: 768px) {
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
  }
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 900;
}

.modal-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.modal-close {
  all: unset;
  cursor: pointer;
  position: absolute;
  display: flex;
  right: 16px;
}

.modal-back {
  all: unset;
  cursor: pointer;
  position: absolute;
  display: flex;
  left: 16px;
}
