@import "../../styles/colors.constants";

.base-button {
  all: unset;
  cursor: pointer;
  background-color: $third-color;
  color: $main-black;
  border: 1px solid $main-black;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 700;
  padding: 12px 0px;
  text-align: center;
  width: 100%;
  max-width: 480px;

  &:active {
    background-color: $sub-third-color;
  }

  &.purple-button {
    background-color: $main-color;
    color: $main-white;

    &:active {
      background-color: $sub-main-color;
    }
  }

  &.small-button {
    font-size: 16px;
  }
}
