@import "../../styles/colors.constants";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  width: calc(100vw - 16px);
  background: $secondary-color;
  border: 2px solid $deep-violet;
  border-radius: 12px;
  outline: none;
  color: $main-black;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: rgba(21, 21, 21, 0.85);
  transition: background 200ms;
}

.modal-button {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $deep-violet;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
}

.login-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  all: unset;
  cursor: pointer;
  background-color: $deeper-blue;
  border: 1px solid $main-black;
  color: $main-black;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 64px;
  text-align: center;

  &:active {
    background-color: $deep-blue;
  }
}
