.mode-modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0px;
  font-size: 28px;
  font-weight: 800;
}

.mode-list {
  display: flex;
  flex-direction: column;
}

.mode {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0px;
  cursor: pointer;

  &:hover {
    background-color: var(--dark-purple);
  }
}

.mode-title {
  font-size: 18px;
  font-weight: 600;
}
