.mode-modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0px;
  font-size: 28px;
  font-weight: 800;
}

.mode-list {
  display: flex;
  flex-direction: column;
}

.mode {
  all: unset;
  display: flex;
  padding: 12px 24px;
  cursor: pointer;
  gap: 24px;

  &:hover {
    background-color: var(--dark-purple);
  }
}

.mode-title {
  font-size: 24px;
  font-weight: 600;
}

.mode-description {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
}
